<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        <title>AlcoTracker</title>
        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

		<!-- Google fonts-->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu|Oxygen' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<!--<link rel="stylesheet" type="text/css" href="{% static "style/base1.css" %}">-->
    {% endblock %}
</head>
<body>
    <header>
        {% load static %}
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand">AlcoTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
              <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                      {% block navbar %}
                    {% block navbar-home %}<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>{% endblock %}
                    {% block navbar-settings %}<li class="nav-item"><a class="nav-link" href="{% url 'settings' %}">Settings</a></li>{% endblock %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}#">Logout</a></li>
                      {% endblock %}
                      </ul>
                      <span class="navbar-text text-dark navbar-right">{{ user.username }}</span>
                  {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        {% block navbar-login %}<li class="nav-item"><a class="nav-link" href="{% url 'login' %}#">Login</a></li>{% endblock %}
                    </ul>
                  {% endif %}
            </div>
        </nav>
    </header>
    <main class="container" role="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <span>Footer</span>
        </div>
    </footer>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>