{% extends 'base.html' %}
{% block navbar-home %}
    <li class="active nav-link">Home</li>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="col-xs">
        <p>Nothing to see here</p>
    </div>
    {% else %}
        <div class="col-xs">
            <h2>Please log in or register</h2>
            <ul>
                <li><a href="registration">Register</a> </li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
    {% endif %}

{% endblock %}